@import "tailwindcss";
@import "tailwix";
@plugin "tailwindcss-motion";

@theme default {
   --sat: env(safe-area-inset-top);
   --sab: env(safe-area-inset-bottom);

   --color-surface-1: var(--color-gray-1);
   --color-surface-2: var(--color-gray-2);
   --color-surface-3: var(--color-gray-3);
   --color-surface-4: var(--color-gray-4);
   --color-surface-5: var(--color-gray-5);
   --color-surface-6: var(--color-gray-6);
   --color-surface-7: var(--color-gray-7);
   --color-surface-8: var(--color-gray-8);
   --color-surface-9: var(--color-gray-9);
   --color-surface-10: var(--color-gray-10);
   --color-surface-11: var(--color-gray-11);
   --color-surface-12: var(--color-gray-12);

   --color-red-1: var(--color-tomato-1);
   --color-red-2: var(--color-tomato-2);
   --color-red-3: var(--color-tomato-3);
   --color-red-4: var(--color-tomato-4);
   --color-red-5: var(--color-tomato-5);
   --color-red-6: var(--color-tomato-6);
   --color-red-7: var(--color-tomato-7);
   --color-red-8: var(--color-tomato-8);
   --color-red-9: var(--color-tomato-9);
   --color-red-10: var(--color-tomato-10);
   --color-red-11: var(--color-tomato-11);
   --color-red-12: var(--color-tomato-12);

   --color-primary-1: var(--color-orange-1);
   --color-primary-2: var(--color-orange-2);
   --color-primary-3: var(--color-orange-3);
   --color-primary-4: var(--color-orange-4);
   --color-primary-5: var(--color-orange-5);
   --color-primary-6: var(--color-orange-6);
   --color-primary-7: var(--color-orange-7);
   --color-primary-8: var(--color-orange-8);
   --color-primary-9: var(--color-orange-9);
   --color-primary-10: var(--color-orange-10);
   --color-primary-11: var(--color-orange-11);
   --color-primary-12: var(--color-orange-12);

   --color-background: #ffffff;
   --color-foreground: var(--color-surface-12);
   --color-neutral: rgb(0, 0, 0, 0.11);
   --color-muted: var(--color-surface-10);

   --font-primary:
      "inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
   --font-mono: "inter", monospace;

   --text-xs: 0.825rem;
   --text-sm: 0.9rem;
   --text-base: 0.95rem;

   --popup-padding: 0.25rem;
   --popup-radius: 0.5rem;

   --container-max-width: 66rem;
   --width-prose: 60rem;
   --breakpoint-xs: 390px;

   --ease-out-fast: cubic-bezier(0.45, 1.005, 0, 1.005);
   --ease-in-slow: cubic-bezier(0.375, 0.015, 0.545, 0.455);
   --ease-vaul: cubic-bezier(0.32, 0.72, 0, 1);

   --animate-caret-blink: caret-blink 1.25s ease-out infinite;
   --animate-accordion-down: accordion-down 0.15s var(--ease-vaul);
   --animate-accordion-up: accordion-up 0.15s var(--ease-vaul);
   --animate-skeleton: skeleton 2s -1s infinite linear;

   @keyframes skeleton {
      to {
         background-position: -200% 0;
      }
   }

   @keyframes shimmer {
      100% {
         transform: translateX(200%);
      }
   }
   @keyframes accordion-down {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }
   @keyframes accordion-up {
      from {
         opacity: 1;
      }
      to {
         opacity: 0;
      }
   }
}

@utility container {
   margin-inline: auto;
   padding-inline: 1.25rem;
   max-width: var(--container-max-width);
}

@font-face {
   font-family: "inter";
   src: url("/font/inter.woff2") format("woff2");
   font-display: swap;
   font-style: normal;
   font-weight: 400 600;
}

@utility touch-hitbox {
   position: relative;
   &:after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      min-height: 44px;
      min-width: 44px;
      z-index: 9999;
   }
}

@layer utilities {
   .font-mono {
      font-variant-numeric: tabular-nums;
   }

   .scrollbar-hidden {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
   .scrollbar-hidden::-webkit-scrollbar {
      display: none !important;
   }

   body {
      letter-spacing: -0.75%;
   }

   h1,
   h2,
   h3,
   h4 {
      text-wrap: balance;
      letter-spacing: -2%;
      font-weight: 600;
   }

   p:not(.prose) {
      text-wrap: pretty;
   }

   .line-clamp-1 {
      word-break: break-all;
   }
   .line-clamp-1,
   .line-clamp-2 {
      white-space: normal;
   }
   .line-clamp-1:not(.text-center) {
      text-align: left;
   }

   .pb-safe {
      padding-bottom: max(env(safe-area-inset-bottom), 0rem);
   }
   .pb-safe-1 {
      padding-bottom: max(env(safe-area-inset-bottom), 0.25rem);
   }
   .pb-safe-2 {
      padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
   }
   .pb-safe-3 {
      padding-bottom: max(env(safe-area-inset-bottom), 0.75rem);
   }
   .pb-safe-4 {
      padding-bottom: max(env(safe-area-inset-bottom), 1rem);
   }
   .pb-safe-5 {
      padding-bottom: max(env(safe-area-inset-bottom), 1.25rem);
   }
   .pb-safe-6 {
      padding-bottom: max(env(safe-area-inset-bottom), 1.5rem);
   }
}
